/* Base Styles */
* { 
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
}

h2 {
    padding-left: 1em;
    padding-right: 1em;
}

p {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 3em;
    margin-top: 1em;
}

.main-header {
    background-color: #2b8a78 ;
    height: 15em;
    width: auto;
    padding-bottom: 3em;
    margin-bottom: 2em;
}  

.main-nav {
    font-size: 1.1em;
}

.main-nav li {
   text-align: center;
   padding-top: 0.7em;
   padding-bottom: 0.7em;
}

footer {
    padding-left: 1.5em;
    padding-top: 1.5em;
    height: 1.5em;
    background-color: darkgrey;
}

/* Images */


@media (min-width: 800px)
{
p {
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: flex-start;
}

/* .secondary-content {
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: flex-start;
} */
    
}